*.lock
*.pyc
**/mlruns/
*.jpg
*.jpeg
*.png
*.gif
**/Models/
**/Models2/
*.bin
hfo_spectral_detector/prediction/*.bin
*.db
*.json
hfo_spectral_detector/prediction/*.json
*.npy
*.csv
*.log
hfo_spectral_detector.log
.out
*/Slurm_Logs/

# VENV
.venv/
*.out
hpc_jobs/~/Slurm_Logs/*.err
hpc_jobs/~/Slurm_Logs/*.out

